<!DOCTYPE html>
<html>
  <head>
    <title>hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
      <% for (let task of tasks) {%>
        <tr>
          <th><%= task.id %></th>
          <td><%= task.title %></td>
          <td><a href="/edit/<%= task.id %>">edit</a> / <a href="/delete/<%= task.id %>">delete</a></td>
        </tr>  
      <% } %>
      <tr>
        <td colspan="3"><a style="text-decoration: none; width: 100%; display: block; text-align: center;" href="/create">+</a></td>
      </tr>
    </table>
  </body>
</html>
