<!DOCTYPE html>
<html>
  <head>
    <title>Hello world</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/search" method="get">
      <input type="text" name="searchStr" placeholder="saerch...">
    </form>
    <table>
      <tr>
        <th>ID</th>
        <td>Title</td>
        <td>Action</td>
      </tr>
      <% posts.forEach(function(post) { %>
        <tr>
          <th><%= post.id %></th>
          <td><%= post.title %></td>
          <td><a href="/edit/<%= post.id %>">edit</a> / <a href="/delete/<%= post.id %>">delete</a></td>
        </tr>
      <% }); %> 
      <tr>
        <th colspan="3"><a style="text-decoration: none;" href="/create">+</a></th>
      </tr>
    </table>
  </body>
</html>
